.form {
  margin-bottom: 45px;
  &-content {
    background: #f3f4f4;
    padding-top: 38px;
    padding-left: 11%;
    padding-right: 11%;
    border: 1px solid #8b919a;
    border-radius: 10px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0;
  }
  &-header {
    background: rgba(139, 198, 63, 0.75);
    border-radius: 10px 10px 0px 0px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      color: rgba(28, 41, 13, 0.96);
      text-align: center;
    }
  }
  .large-col {
    height: 160px;
  }
  .form-input-wrap {
  }
  .form-input-wrap ~ .form-input-wrap {
    margin-top: 34px;
  }
  .title {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 30px;
    color: #000;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #000000;
    }
  }
  .row {
    margin-left: 40px;
  }
  .input-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .label {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #303030;
    span {
      color: red;
    }
  }
  input,
  textarea {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 24px;
    
    background: #F3F4F4;
    border: 1px solid #8b919a;
    border-radius: 10px;
    color: #959ead;
    transition: 0.2s ease;
    outline: none;
  }
  textarea::placeholder {
    color: #959ead;
  }
  input:focus {
    border: 1px solid #de3618;
  }
  /*  .input-wrap ~ .input-wrap {
    margin-top: 20px;
  } */

  .row {
  }

  .captcha-wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .captcha-img-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .captcha-img {
        max-width: 100%;
        width: 100%;
      }
    }
    a {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      /* identical to box height, or 140% */

      /* Xanh 1 */

      color: #0184d3;
    }
    .speaker {
      margin-left: 14px;
      margin-right: 20px;
      width: 31px;
    }
  }

  .form-register {
    display: flex;
    align-items: center;
    gap: 25px;
    .title {
      margin-bottom: 0;
    }
    .register-wrap {
      display: flex;
      gap: 25px;
      align-items: center;
      .box {
        display: flex;
        gap: 14px;
        align-items: center;
        input {
          cursor: pointer;
          width: 18.5px;
          height: 18.5px;
        }
        p {
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          /* identical to box height, or 160% */

          /* black */

          color: #303030;
          white-space: nowrap;
        }
      }
    }
  }

  .row-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #000000;
    .line {
      width: 90%;
      height: 2px;

      background: linear-gradient(90deg, #488a26 0%, #cfe8b0 100%);
    }
  }
  .row-title ~ .input-wrap {
    & ~ .input-wrap {
      margin-top: 20px;
    }
  }
  .terms {
    margin-top: 30px;
    margin-bottom: 40px;
    h2 {
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      color: #000;
    }
    ul {
      margin-left: 40px;
      margin-top: 10px;
      list-style: disc !important;
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        list-style-type: disc;

        display: list-item;
        color: #000000;
        p {
          gap: 5px;

          display: flex;
          align-items: center;
        }
      }
      a {
        color: #0184d3;
      }
    }
  }
  .submit-wrap {
    margin-top: 40px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 80px;
    .submit-btn {
      cursor: pointer;
      padding: 12px 27px;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      /* identical to box height, or 160% */

      /* white */
      background: #395319;
      border-radius: 8px;
      color: #ffffff;
    }

    .log-in-btn {
      /* Background/1 */
      cursor: pointer;

      background: #ffffff;
      border-radius: 6px;
      padding: 11px 34px;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      color: #303030;
    }
  }
}
.login {
  .form {
    &-content {
      max-width: 690px;
      background-color: #fff;
      border: none;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .row-title {
      text-align: center;
      font-size: 28px;
      .line {
        width: 110%;
        margin-top: 8px;
        background: linear-gradient(
          90deg,
          #ffffff 0%,
          #8bc63f 20%,
          #8bc63f 40%,
          #8bc63f 60%,
          #8bc63f 80%,
          #ffffff 100%
        );
        height: 6px;
      }
    }
    .input-wrap{
      max-width: 590px;
    }
    .forget {
      display: flex;
      align-items: center;
      margin-top: 15px;
      justify-content: space-between;
    }
    .submit-wrap {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .login-btn {
      padding: 12px 32px;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      /* identical to box height, or 160% */

      /* white */

      color: #ffffff;

      /* Xanh 0 */

      background: #395319;
      border-radius: 8px;
    }
    .register-btn {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      /* identical to box height, or 160% */

      /* Neutral/1 */

      color: #303030;
      background: #F3F4F4;
border-radius: 6px;
padding: 12px 32px;
    }
  }
}
/* mobile */

@media screen and (max-width: 767.98px) {
  .form {
    &-header {
      height: 70px;
      h1 {
        font-size: 22px;
      }
    }
    .title {
      font-size: 20px;
      p {
        font-size: 14px;
      }
    }
    .large-col {
      height: 120px;
    }
    .form-register {
      flex-direction: column;
      .register-wrap {
        .box {
          p {
            font-size: 16px;
          }
        }
      }
    }
    .label {
      font-size: 16px;
    }
    &-content {
      padding: 30px 15px;
    }
    .title {
    }
    input {
      font-size: 14px;
      width: 100%;
    }
    .row {
      margin-left: 12px;
    }
    .captcha-wrap {
      .captcha-img-wrap {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 10px;
      }
    }
    .terms {
      h2 {
        font-size: 19px;
      }
      ul {
        li {
          font-size: 12px;
        }
      }
    }
    .submit-wrap {
      gap: 10px;
      justify-content: space-between;
      .submit-btn,
      .log-in-btn {
        font-size: 13px;
      }
      .submit-btn {
        padding: 5px 10px;
      }
      .log-in-btn {
        padding: 5px 10px;
      }
    }
  }
}

/* only 786 */
@media screen and (min-width: 768px) and (max-width: 1023.99px) {
  .form {
    &-header {
      height: 80px;
    }
    &-content {
      padding-left: 6%;
      padding-right: 6%;
    }
    .large-col {
      height: 130px;
    }
    .row-title {
      font-size: 18px;
    }
    .terms {
      h2 {
        font-size: 20px;
      }
    }
    .submit-wrap {
      .submit-btn,
      .log-in-btn {
        font-size: 16px;
      }
    }
    .label {
      font-size: 16px;
    }
    .title {
      font-size: 18px;
    }
    input {
      font-size: 15px;
    }
  }
}

/* tablet */

/* only 1024 */
@media screen and (min-width: 1024px) and (max-width: 1025px) {
  .form {
    .label {
      font-size: 14px;
    }
    input {
      font-size: 12px;
    }
    .title {
      font-size: 18px;
      p {
        font-size: 14px;
      }
    }
    .row-title {
      font-size: 16px;
    }
    .terms {
      h2 {
        font-size: 18px;
      }
    }
    .submit-wrap {
      .submit-btn,
      .log-in-btn {
        font-size: 18px;
      }
    }
  }
}

/* small pc */

/* middle pc */

@media screen and (min-width: 1300px) and (max-width: 1500px) {
  .form {
    .large-col {
      height: 140px;
    }
    &-header {
      h1 {
        font-size: 26px;
      }
      height: 95px;
    }
    .label {
      font-size: 18px;
    }
    input {
      font-size: 14px;
    }
    .title {
      font-size: 20px;
      p {
        font-size: 15px;
      }
    }
    .terms {
      h2 {
        font-size: 20px;
      }
    }
  }
}
